
.loggin-container {
    display: flex;
    flex-direction: column;
	margin: 0;
	padding: 0;
  font-family: "BioRhyme", serif;
  background-image: url('../assets/layered-waves-haikei (3).svg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

/* header {
	background-color: #001220;
	display: flex;
	flex-direction: column;
	height: 8vh;
	justify-content: center;
	align-items: center;
} */

.text {
    color:white;
    font-size: 40px;
    font-weight: 700;
}

.underline {
	color:white;
}


.input-frame {
    margin-top: 55px;
    display: flex;
    flex-direction: column ;
    gap: 25px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 50px;
    background: #eaeaea;
    border-radius: 6px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.submit-container {
    display: flex;
    gap: 30px;
    margin: 40px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 10px 0px;
    height: 45px;
    color: #001220;
    background:#FFC87A;
    border-radius: 50px;
	border:none;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.password-error{
    color: rgb(224, 48, 48);
}

.error.invalid {
    color: rgb(224, 48, 48);
}
input.valid {
    border-left: 5px solid #1d7f56;

}

/* Media Queries */
@media (max-width: 768px) {
    .loggin-container, .input {
        width: 90%;
    }

    .text {
        font-size: 36px;
    }

    .input input {
        width: 85%;
    }

    
    
}

@media (max-width: 480px) {
    .container {
        margin-top: 100px;
        padding-bottom: 15px;
    }

    .text {
        font-size: 12px;
    }

    .submit-container {
        flex-direction: column;
    }

    
}