body {
    min-height: 100vh;
    font-family: "BioRhyme", serif;
    background-image: url('../assets/wavesand.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.cart-page-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


.cart-items-container {
    flex: 1; /* Takes up half of the space */
    margin-right: 20px; /* Adds some space between the cart items and the checkout form */
}

.input-order {
    flex: 1; /* Takes up the other half of the space */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the form in the checkout section */
}

.cart-container {
    display: flex;
	flex-direction: column;
    align-items: center; 
    margin-top: 4em;
}

.cart-product-container {
    display: flex;
    justify-content: space-between;
	gap: 10px;
	width: 450px;
}

hr {
    width: 100%; 
    border: none;
    height: 1px;
    background-color: #001220;
    box-shadow: 0px 2px 3px rgba(0, 18, 32, 0.2);
    margin: 20px 0;
}

.product-img {
    width: 120px;
}

.cart-product-container hr {
	width: 100%; /* Ensures hr takes full width */
    border: none; /* Removes default border */
    height: 1px; /* Set desired thickness */
    background-color: #001220; /* Same as your border color for consistency */
    box-shadow: 0px 2px 3px rgba(0, 18, 32, 0.2); /* Your existing shadow */
    margin: 10px 0;
}

.delivery-input, .input-cart {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.delivery-input {
	margin-top: 1em;
}

.input-order {
    margin: 0 auto;

}

input {
	border-radius:10px;
	border: 1px solid #001220;
	height: 50px;
}

label {
	font-weight: bolder;
	font-size: 1.5em;
}

.name-lastname-input{
	display: flex;
	flex-direction: row;
	gap:5px;
}

.input-cart input {
    width: 270px;

}

.confirm-order-btn {
	background-color:#001220;
	color:white;
	border:none;
	border-radius:15px;
	height: 50px;
	font-size: 1em;
	cursor: pointer;
}

.input-order p {
	font-weight: 800;
	font-size: 1.3em;
}

.delete-from-cart-btn {
	background:none;
	border:none;
	cursor:pointer;
}

