html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}


h2 {
    text-align: center;
    font-size: 2.5em;
}

.cart-page-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    min-height: 50vh;
}


.cart-items-container {
    flex: 1; 
    margin-right: 20px; 
}

.input-order {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.cart-container {
    display: flex;
	flex-direction: column;
    /* align-items: center;  */
    margin-top: 4em;
}

.cart-product-container {
    display: flex;
    justify-content: space-between;
	gap: 10px;
	/* width: 450px; */
}

hr {
    width: 100%; 
    border: none;
    height: 1px;
    background-color: #001220;
    box-shadow: 0px 2px 3px rgba(0, 18, 32, 0.2);
    margin: 15px 0;
}

.product-img {
    width: 120px;
    border:1px solid #001220;
}

.cart-product-container hr {
	width: 100%; 
    border: none; 
    height: 1px; 
    background-color: #001220; 
    box-shadow: 0px 2px 3px rgba(0, 18, 32, 0.2); 
    margin: 10px 0;
}

.cart-product-container p {
    margin-top: 1.3em;
}

.delivery-input, .input-cart {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.delivery-input {
	margin-top: 1em;
}

.input-order {
    margin: 0 auto;
    border-left: 1px solid #001220;

}

input {
	border-radius:10px;
	border: 1px solid #001220;
	height: 50px;
}

label {
	font-weight: bolder;
	font-size: 1.5em;
}

.name-lastname-input{
	display: flex;
	flex-direction: row;
	gap:5px;
}

.input-cart input {
    width: 270px;

}

.confirm-order-btn {
	background-color:#001220;
	color:white;
	border:none;
	border-radius:15px;
	height: 50px;
	font-size: 1em;
	cursor: pointer;
}

.confirm-order-btn:hover {
    background-color: rgb(0, 187, 255);
}

.input-order p {
	font-weight: 800;
	font-size: 1.3em;
}

.delete-from-cart-btn {
	background:none;
	border:none;
	cursor:pointer;
    margin: 0;
}

.delete-btn {
    margin-top: 1.2em;
}

.quantity-controls {
    display: inline-flex;
}

.quantity-controls button {
    margin: 1em 5px;
    background-color: #001220;
    color:white;
    border: none;
    border-radius:15px;
    /* padding: 5px 10px; */
    font-size: 1.3rem;
    cursor: pointer;
    height: 35px;
    justify-content: center;
    align-items:center;
    text-align: center;
}

.quantity-controls span {
    margin: 1.5em 1em;
}


@media (max-width: 768px) {

	.cart-page-container {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
	}

    .input-order {
        margin: 0 auto;
        border-left: none;
    }

    .input-cart input {
        width: 250px;
    }

    .delivery-input {
        width: 250px;
        display: flex;
        flex-direction: column;
    }

    .name-lastname-input {
        display: flex;
        flex-direction: column;
    }

    .input-cart label {
        display: flex;
        flex-direction: column;
    }

    .cart-product-container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 0;
        gap: 0;
        justify-content: center;
    }


    .cart-items-container{
        height: 50px;
        margin: 0 auto;
    }
}