html {
  background-color: #FFC87A;
}

body {
	margin: 0;
	padding: 0;
  font-family: "BioRhyme", serif;
  /* background-image: url('./assets/wavesand.svg');
  background-size: cover;
  background-repeat: no-repeat; */
  width: 100%; 
  min-height: 100vh;
  position: relative; 
}

/* a{
  text-decoration: none;
} */


header {
  background-color: #001220;
	display: flex;
	flex-direction: column;
	height: 8vh;
	justify-content: center;
	align-items: center;
  position: sticky;
  top: 0; /* Add top value for sticky position */
  z-index: 1000;
}

.header-links {
  color: #fff; 
  text-decoration: none;
  margin-right: 20px; 
  margin-left: 1em;
}

.header-row {
  display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80vw;
}

.logo-header {
  position: relative;
  top: 1em;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
  
}

h1 {
	font-weight: 800;
}

.logo-footer {
  width: 100px;
  margin: 0, auto;
}

/* footer {
  color: #fff;
  text-align: center;
  background-color: #001220;
  position: absolute; 
  bottom: 0; 
  width: 100%; 
} */

.shopping-cart-header {
  width: 40px;
}

footer {
  background-color:#001220;
  color: #fff;
  padding: 20px 10px;
  text-align: center;
  width: 100%;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
}

.info, .login-btn{
  margin-bottom: 20px;
}

.info h3 {
  margin-bottom: 15px;
}

.info address, .info p, .action-buttons button, .login-btn a {
  margin: 5px 0;
  line-height: 1.5;
}
